### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
purchase_data_summary = purchase_data
purchase_data_summary.tail()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [3]:
#purchase_data ["SN"].value_counts()
n=purchase_data["SN"].unique().size

#(purchase_data["SN"].unique()).size()
#total= {"Total Players":n}
df = pd.DataFrame({"Total Players":n},index= [0])
#Total_players ["Total Players"] = pd.Dataframe(eval(n))
df.head()

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#Unique Items
number_items=purchase_data["Item ID"].unique().size
print(number_items)
#Average Price
avg_price=purchase_data["Price"].mean()
print(avg_price)
#Number of purchases
number_purchases=purchase_data["Purchase ID"].unique().size
print(number_purchases)
#Total Revenue
total_revenue=purchase_data["Price"].sum()
print(total_revenue)

183
3.050987179487176
780
2379.77

In [5]:
summary_table={"Number of Unique Items":number_items,
                "Average Price":avg_price,
                "Number of Purchases":number_purchases,
                "Total Revenue":total_revenue}

print(summary_table)

df1 = pd.DataFrame({"summary_table":summary_table})
df2=df1.transpose()
df2["Average Price"]=df2["Average Price"].map("${:.2f}".format)
df2["Number of Purchases"]=df2["Number of Purchases"].map("{:.0f}".format)
df2["Total Revenue"]=df2["Total Revenue"].map("${:.2f}".format)
df2=df2[["Number of Unique Items","Average Price","Number of Purchases","Total Revenue"]]
df2.head()

{'Number of Unique Items': 183, 'Average Price': 3.050987179487176, 'Number of Purchases': 780, 'Total Revenue': 2379.77}

,Number of Unique Items,Average Price,Number of Purchases,Total Revenue
summary_table,183.0,$3.05,780,$2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
#Number of Male
df3=purchase_data.loc[purchase_data["Gender"]=="Male"]
df3.head()
number_male=df3["SN"].unique().size
print(number_male)

#number_males=purchase_data[[purchase_data["Gender"]=="Male"]].value_count()
#print(purchase_data["Gender"].value_counts())

#Number of Female
df4=purchase_data.loc[purchase_data["Gender"]=="Female"]
df4.head()
number_female=df4["SN"].unique().size
print(number_female)

#Number of Other/Non-Disclosed
df5=purchase_data.loc[purchase_data["Gender"]=="Other / Non-Disclosed"]
df5.head()
number_other=df5["SN"].unique().size
print(number_other)

total_ind = number_male+number_female+number_other
print(total_ind)

per_male = number_male/total_ind*100

per_female = number_female/total_ind*100

per_other = number_other/total_ind*100


dict_ind = {"Total Count":[number_male,number_female,number_other],
           "Percentage of Players":[per_male,per_female,per_other] }
print(dict_ind)

df6 = pd.DataFrame(dict_ind,index=["Male","Female","Other / Non-Disclosed"])

df6["Percentage of Players"]=df6["Percentage of Players"].map("{:.2f}%".format)
df6.head()

484
81
11
576
{'Total Count': [484, 81, 11], 'Percentage of Players': [84.02777777777779, 14.0625, 1.9097222222222223]}

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#Purchase count
purchase_other_count= purchase_data.loc[purchase_data["Gender"]=="Other / Non-Disclosed"].count()
purchase_male_count = purchase_data.loc[purchase_data["Gender"]=="Male"].count()
purchase_female_count = purchase_data.loc[purchase_data["Gender"]=="Female"].count()
#print(purchase_female_count["Purchase ID"])
#print(purchase_male_count["Purchase ID"])
#print(purchase_other_count["Purchase ID"])

#df by Gender
other_df=purchase_data.loc[purchase_data["Gender"]=="Other / Non-Disclosed"]
male_df=purchase_data.loc[purchase_data["Gender"]=="Male"]
female_df=purchase_data.loc[purchase_data["Gender"]=="Female"]

#Total by Gender
other_total_p_value=other_df["Price"].sum()
male_total_p_value=male_df["Price"].sum()
female_total_p_value=female_df["Price"].sum()
#print(other_total_p_value)

#Average by Person Gender
avg_price_person_other= other_total_p_value/number_other
avg_price_person_male= male_total_p_value/number_male
avg_price_person_female= female_total_p_value/number_female
print(number_male)
print(avg_price_person_male)

#Avg by Gender
avg_price_other = other_total_p_value/puchase_other_count["Purchase ID"]
print(avg_price_other)

avg_price_female = female_total_p_value/puchase_female_count["Purchase ID"]
print(avg_price_female)

avg_price_male = male_total_p_value/puchase_male_count["Purchase ID"]
print(avg_price_male)

484
4.065371900826446

NameError: name 'puchase_other_count' is not defined

In [ ]:
summary_dict = {"Purchase Count":[puchase_female_count["Purchase ID"],puchase_male_count["Purchase ID"],puchase_other_count["Purchase ID"]],
                "Average Purchase Price":[avg_price_female,avg_price_male,avg_price_other],
                "Total Purchase Value":[female_total_p_value,male_total_p_value,other_total_p_value],
                "Avg Total Purchase per Person":[avg_price_person_female,avg_price_person_male,avg_price_person_other]}

In [ ]:
summary_dict

In [ ]:
df7 = pd.DataFrame(summary_dict,index=["Female","Male","Other / Non-Disclosed"])
df7["Average Purchase Price"]=df7["Average Purchase Price"].map("${:.2f}".format)
df7["Total Purchase Value"]=df7["Total Purchase Value"].map("${:.2f}".format)
df7["Avg Total Purchase per Person"]=df7["Avg Total Purchase per Person"].map("${:.2f}".format)
df7

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
bins=[0,9,14,19,24,29,34,39,46]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+"]
purchase_data.head()

In [ ]:
#purchase_data["SN"].value_counts()
purchase_data["Age Group"]= pd.cut(purchase_data["Age"], bins, labels=group_names)
total_count=purchase_data.groupby("Age Group")["SN"].nunique()
percentage=purchase_data.groupby("Age Group")["SN"].nunique()/n*100
merged=pd.merge(total_count,percentage,on="Age Group")
merged["SN_y"]=merged["SN_y"].map("{:.2f}%".format)
merged.rename(columns={"SN_x":"Total Count","SN_y":"Percentage of Players"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
#Total Purchase Value
total_purchase_val=purchase_data.groupby("Age Group")["Price"].sum()
print(total_purchase_val)


#Purchase Count
purchase_count=purchase_data.groupby("Age Group").count()
print(purchase_count["Purchase ID"])

#Average Purchase Price
avg_purchase_price=total_purchase_val/purchase_count["Purchase ID"]
print(avg_purchase_price)

#Avg Total Purchase per Person
avg_tot_pur_person=total_purchase_val/total_count
print(avg_tot_pur_person)

In [ ]:
merged_value=pd.concat([purchase_count["Purchase ID"],
                        avg_purchase_price,
                        total_purchase_val,
                        avg_tot_pur_person],axis=1)
merged_value

In [ ]:
merged_value.rename({"Purchase ID":"Purchase Count",
                             0:"Average Purchase Price",
                            "Price":"Total Purchase Value",
                             1:"Avg Total Purchase per Person"},axis=1, inplace=True)
merged_value

In [ ]:
#merged_value["Price"]=merged_value["Price"].map("${:.2f}".format)
#merged_value["0"]=merged_value["0"].map("${:.2f}".format)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
grouped=purchase_data.groupby(["SN"])

In [ ]:
purchase_data.head()

In [ ]:
data=purchase_data["SN"].value_counts()
data

In [ ]:
data1=purchase_data.groupby("SN")["Price"].sum()

In [ ]:
data3=pd.concat([data,data1],axis=1)

In [ ]:
data4=data3.sort_values(by="Price", ascending=False)

In [ ]:
data4["Average Purchase Price"]=data4["Price"]/data4["SN"]

new_order=["SN","Average Purchase Price","Price"]
data5=data4.rename(columns={"SN":"Purchase Count","Price":"Total Purchase Value" })

data5["Average Purchase Price"]=data5["Average Purchase Price"].map("${:.2f}".format)
data5["Total Purchase Value"]=data5["Total Purchase Value"].map("${:.2f}".format)
#data5[data5.columns["Purchase Count","Average Purchase Price","Total Purchase Value"]]
data5.head(5)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
data6=purchase_data["Item ID"].value_counts()
data6

data7=purchase_data.groupby("Item ID")["Price"].sum()
data7

data8=purchase_data.groupby("Item ID")["Item Name"]
data8.max()

In [ ]:
data9=pd.concat([data6,data7,data8.max()],axis=1)
data9

data10=data9.sort_values(by="Item ID",ascending=False)
data10["Item Price"] = data10["Price"]/data10["Item ID"]
data11= data10.rename(columns={"Item Name":"Item Name","Item ID":"Purchase Count","Item Price":"Item Price","Price":"Total Purchase Value"})
data11= data11.rename_axis("Item ID")

data11 = data11[["Item Name","Purchase Count","Item Price","Total Purchase Value"]]
data11.head(5)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
data12=data9.sort_values(by="Price",ascending=False)
data12["Item Price"] = data12["Price"]/data12["Item ID"]
#data12.head(5)
data13= data12.rename(columns={"Item Name":"Item Name","Item ID":"Purchase Count","Item Price":"Item Price","Price":"Total Purchase Value"})
data13= data13.rename_axis("Item ID")
data13 = data13[["Item Name","Purchase Count","Item Price","Total Purchase Value"]]
data13.head(5)